@import "bourbon";

button {
  display: block;
  cursor: none;
  padding: 0.75rem 1.25rem;
  border: 0;
  border-radius: 4px;
  background-color: hsl(218deg 92% 57%);
  color: #fff;
  user-select: none;
  font-size: 1rem;
  transform-style: preserve-3d;
  z-index: 10;
}

button:before,
button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
  background-color: hsl(218deg 92% 35%);
  transform: translateZ( -5px );
    z-index: 10;
}

button:after {
  background-color: hsl(218deg 92% 20%);
  transform: translateZ( -10px );
    z-index: 10;
}

.button-wrapper {
  position: relative;
  perspective: 400px;
  align-self: flex-start;
    z-index: 10;
}



body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
} 

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #eee;
  /* border: 1px solid rgba(0,0,0,0.1);   */

  

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}